In [1]:
import os
import re
import sys

import numpy as np
import matplotlib as mp
import pandas as pd
import scipy as sp
import scipy.stats as spt
import scipy.io as sio
import matplotlib.pyplot as plt

from tasks import dual2afc
from traum import traum as tr
#from traum.mdaio import readmda
#from traum import readDIO
#from traum.readTrodesExtractedDataFile import readTrodesExtractedDataFile as readdat

print(sys.version)

2.7.14 |Anaconda, Inc.| (default, Mar 27 2018, 12:28:59)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

## Behavior

In [2]:
pathBhv = os.path.join('datasets/dual2afc_ds1/','bhv','M14','M14_Dual2AFC_Nov17_2017_Session1.mat')
dataBhv = dual2afc.parser(sio.loadmat(pathBhv, squeeze_me=True))

In [3]:
obj = tr.traum(dataBhv)

## Neural

In [4]:
pathNeur = os.path.join('datasets/dual2afc_ds1/','neur','M14','M14_20171117_175330')

obj.readNeur(pathNeur)

## Sync

In [5]:
pathDIO = os.path.join('datasets/dual2afc_ds1/','neur','M14','M14_20171117_175330','dio')
obj.readDio(pathDIO)

In [6]:
obj.sync()

In [7]:
obj.neur

    cluster   dataset                                             spikes
0       1.0  ms3--t33  [656.0, 234979.0, 237288.0, 265107.0, 271531.0...
1       2.0  ms3--t33  [45988.0, 74662.0, 78031.0, 83027.0, 97386.0, ...
2       3.0  ms3--t33  [50859.0, 90700.0, 103771.0, 111268.0, 112207....
3       9.0  ms3--t33  [9692.0, 286565.0, 385399.0, 507460.0, 520411....
4      10.0  ms3--t33  [518381.0, 716668.0, 716928.0, 757533.0, 77129...
5      21.0  ms3--t33  [10246.0, 17324.0, 17988.0, 21656.0, 26354.0, ...
6      27.0  ms3--t33  [5581.0, 10256.0, 18001.0, 23826.0, 25301.0, 2...
7      39.0  ms3--t33  [1449.0, 2280.0, 9210.0, 16476.0, 30167.0, 132...
8       1.0  ms3--t34  [2238.0, 2800.0, 3741.0, 4482.0, 5255.0, 7069....
9      14.0  ms3--t34  [17698.0, 27284.0, 80221.0, 225977.0, 245721.0...
10     31.0  ms3--t34  [1696.0, 2607.0, 3224.0, 3526.0, 4545.0, 5767....
11     35.0  ms3--t34  [1326.0, 3695.0, 6483.0, 8098.0, 9291.0, 10283...
12     47.0  ms3--t34  [54439.0, 309694.0, 432014.0, 453357.0, 456336...
13      1.0  ms3--t35  [1192295.0, 1230605.0, 1492016.0, 1615667.0, 1...
14      4.0  ms3--t35  [3974379.0, 16581865.0, 21325291.0, 30269123.0...
15     10.0  ms3--t35  [8653.0, 15502.0, 71836.0, 75334.0, 76276.0, 8...
16     11.0  ms3--t35  [4961.0, 15803.0, 60439.0, 67533.0, 72294.0, 7...
17     12.0  ms3--t35  [5814.0, 11854.0, 145656.0, 391293.0, 392788.0...
18     53.0  ms3--t35  [17147.0, 21337.0, 22535.0, 32903.0, 34066.0, ...
19     54.0  ms3--t35  [52255.0, 55210.0, 244191.0, 882931.0, 884933....
20     56.0  ms3--t35  [4089.0, 6506.0, 9680.0, 11179.0, 13864.0, 189...
21     57.0  ms3--t35  [32376.0, 33877.0, 38120.0, 39237.0, 40137.0, ...
22     62.0  ms3--t35  [21267.0, 28130.0, 32801.0, 37331.0, 120637.0,...
23     65.0  ms3--t35  [6926.0, 9073.0, 10344.0, 10780.0, 13652.0, 15...
24     67.0  ms3--t35  [8395.0, 11643.0, 17025.0, 20346.0, 22429.0, 2...